.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
   font-style: normal;
}

/* nav style header */
nav{
display: flex;
justify-content: space-around;
align-items: center;
}
h3{
    color: #4E47FF;
    font-size: 34px;
    width: 99px;
    height: 51px;
    font-weight: bold;
    
}

/* button style */

.btn{
 color: #ffffff;
 background-color: #4E47FF;
 padding: 12px 36px;
 border-radius: 10px;
  width: 132px;
  height: 48px;
text-align: auto;
font-weight: bold;
font-size: 14px;
border: none;
}
.bnt-2{
  width: 174px;
  height: 48px;
  margin-top: 0;
}
/* sheard style */
.buttons{
  padding: 12px 36px;
  text-align: auto;
  font-weight: bold;
  border: none;
  border-radius: 10px;
   color: #ffffff;
 background-color: #4E47FF;

}
.buttons2{
    padding: 12px 36px;
  text-align: auto;
   border: none;
  border-radius: 10px;
   color: #ffffff;
 background-color: #4E47FF;
 font-size: medium;
 margin-bottom: 20px;
}

/* body style */
body{
  background-color: #F6F8FF;
}





/* header style */
header{
  background-image:url(/Assets/Hero-bg.png);
}
.tittle-head{
  text-align: center;
  padding: 200px;
  font-size: 65px;
  font-weight: bold;
}

/* main style */
.main-part{
  display: flex;
  justify-content: space-around;
  margin: 116px 162px 0 141px;
  align-items: center;
  gap: 220px;
}
.fool{
  font-size: 42PX;
}

.letter{
  font-size: 24Px;
  color: #252432;
  
}
.photo{
  border-radius: 40px;
}
.joined-main{
  max-width: 1140px;
  background-color: #D8D8FF;
  margin: 0 auto;
  border-radius: 10px;
  height: 306px;
  padding: 50px 80px;
  margin-top: 130px;
}
.main-items{
  display: flex;
  justify-content: space-around;
  text-align: center;

 
  
}
.section-tittle{
  font-size: 38px;
  font-weight: bold;
  text-align: center;

}
.item-tittle{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
  height: 24px;
  
}
.item-description{
  color: #8987A1;
  font-size: 20px;
}
.uix{
   max-width: 1140px;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  height: 696.77px;
  padding: 71px 150px;
  margin-top: 130px;
  text-align: center;
}
.piv{
  border: none;
  border-radius: 48px;
  height: 364.77px;
  width: 840px;
}
.gun{
  font-size: 50px;
  font-weight: 700;
  height: 20px;
}
.goos{
  color: #808080;
  margin-bottom: 20px;
}
.from-culome{
  
}
.lower-part{
  display: flex;
  justify-content: space-around;
  max-width: 1140px;
  gap: 92.33px;
  height: 632px;
  margin: 0 auto;
  padding: 71px;
  align-items: center;

  
}
.desing{
  width: 497px;
  height: 70px;
}
.from-details{
  font-size: 97px;
  font-weight: bold;
  width: 528px;
  height: 230px;
 
}
.submit{
  height: 62px;
  width: 567px;
  padding: 19px 101px;
  color: #ffffff;
  background-color: #4E47FF;
  border: none;
  border-radius: 10px;
  
}
.normal{
  width: 497px;
  height: 135px;
}
.desing, .normal{
  padding: 20px 32px;
}
/* footer styles */
footer{
  width: 531px;
  height: 221px;
  text-align: center;
  margin: 0 auto;
  background-color: white;

}

.logo{
  font-size: 100px;
  color: #4E47FF;
margin: 0;
    text-align: center;
}
.tagline{
  text-align: center;
  color: #808080;
  height:48px ;
  width: 531px;
  margin: 0;
}
.ul-menu{
  display: flex;
  justify-content: space-around;
  color: #808080;
  width: 401px;
  height: 24px;
  margin: 0;

}
li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  
}
.cool{
  color: #8987A1;
}
